{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-shorthand-properties",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-runtime"
  ]
}